.DS_Store
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite
*.egg-info/
*.egg
*.log
volumes/mysql/
volumes/neo4j/
volumes/redis/
volumes/temp/
volumes/files/markdown/*
volumes/files/files/*
volumes/files/images/*
volumes/files/images/*
!volumes/files/images/cover.jpg
!volumes/files/images/default_avatar_1
envs/*.env
.env