[Unit]
Description=Revornix Api Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/Developer/Revornix-new/api
Environment="HF_ENDPOINT=https://hf-mirror.com"
Environment="HF_HUB_ENABLE_HF_TRANSFER=1"
ExecStart=/home/ubuntu/Developer/Revornix-new/.venv/bin/fastapi run --port 8001
Restart=always
RestartSec=5
LimitNOFILE=65535
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

