fastapi[standard]==0.115.14
pydantic==2.11.2
pydantic_core==2.33.1
python-dotenv==1.1.0
redis==5.2.1
SQLAlchemy==2.0.40
python-jose==3.4.0
mcp[cli]==1.9.0
openai==1.68.2
mcp-use==1.2.8
langchain_openai==0.3.16
pymilvus[model]==2.5.12
chonkie==1.1.0
torch==2.7.0
psycopg2-binary==2.9.10
alibabacloud-oss-v2==1.1.2