# oauth2 configuration
# to get a string like this run: openssl rand -hex 32
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=60*24*7

# mail configuration
MAIL_SENDER=
MAIL_PASSWORD=

# redis configuration
REDIS_URL=redis
REDIS_PORT=6379

# mysql configuration
USER_NAME=root
PASSWORD=123456
DATABASE_URL=mysql
DATABASE_NAME=revornix

# milvus configuration
MILVUS_CLUSTER_ENDPOINT=http://milvus-standalone:19530
MILVUS_TOKEN=root:Milvus

FILE_SERVER_URL=http://file-backend:8001