NEXT_PUBLIC_API_PREFIX='http://localhost/api/main-service'
NEXT_PUBLIC_NOTIFICATION_WS_API_PREFIX='ws://localhost/api/main-service/notification/'
NEXT_PUBLIC_FILE_API_PREFIX='http://localhost/api/file-service'
NEXT_PUBLIC_DAILY_HOT_API_PREFIX='http://localhost/api/daily-hot-service'