NEXT_PUBLIC_HOST='http://127.0.0.1:3000'
NEXT_PUBLIC_API_PREFIX='http://127.0.0.1:8787/api'
UNION_PAY_API_PREFIX='http://127.0.0.1:8787/pay'
NEXT_PUBLIC_HOT_NEWS_API_PREFIX='http://127.0.0.1:8787/hot'

NEXT_PUBLIC_NOTIFICATION_WS_API_PREFIX='ws://127.0.0.1:8787/api/notification/ws'

NEXT_PUBLIC_WECHAT_APP_ID=''
NEXT_PUBLIC_GOOGLE_CLIENT_ID=''
NEXT_PUBLIC_GITHUB_CLIENT_ID=''
NEXT_PUBLIC_ALLOW_THIRD_PARTY_AUTH=true
NEXT_PUBLIC_DEPLOY_HOSTS='app.revornix.com,app.revornix.cn,revornix.ai'
NEXT_PUBLIC_GA_ID=''
